:root {
    --main-color: #191919;
    --secondary-color: #212121;
    --secondary-color-alpha: rgb(33, 33, 33, 0.5);
    --accent-color: #4e9f3d;
}
body {
    background-color: var(--main-color) !important;
    font-family: "Ubuntu", sans-serif;
}
.hidden {
    display: none;
}
.second-bg {
    background-color: var(--secondary-color);
}
.nav-bg {
    background-color: var(--secondary-color);
    transition: 0.3s;
    z-index: 99;
}
#navbar a {
    text-decoration: none;
    color: gray;
}
#navbar a:hover {
    color: white;
}
#navbar a.active {
    font-weight: bold;
    color: var(--accent-color);
}
#navbar a.active:hover {
    text-decoration: underline;
}
.brand {
    color: var(--accent-color);
}
.brand span.negative {
    color: var(--main-color);
    background-color: var(--accent-color);
}
.btn-brand {
    color: white;
    background-color: var(--accent-color);
}
.btn-brand:hover {
    box-shadow: 0 0 5px rgba(77, 159, 60, 0.8);
    color: var(--accent-color);
}
.btn-cv {
    color: white;
    background-color: gray;
}
.btn-cv:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    color: white;
}
#social-networks a:hover {
    color: white !important;
}
#service img {
    width: 140px;
}
#service .card {
    background-color: var(--main-color);
    height: 330px;
}
#service .card:hover {
    border-color: var(--accent-color);
}
#service .badge {
    background-color: var(--accent-color);
    user-select: none;
}
#carouselExampleControls .carousel-inner {
    height: 300px;
}
#feedback i[class*="fa-star"] {
    color: gold;
}
footer {
    background-color: var(--main-color);
    font-size: 14px;
}
