<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Web Portfolio</title>

        <!-- CSS Only, Fontawesome, & CDN fonts -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" />

        <!-- My Style -->
        <!-- <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/adobe-clean" /> -->
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/responsive.css" />
    </head>
    <body>
        <!-- Navbar -->
        <div class="container-fluid position-fixed" id="navbar">
            <div class="container d-flex justify-content-center">
                <nav class="navbar navbar-dark navbar-expand-md bg-md-transparent col-12 col-lg-10">
                    <a class="navbar-brand" href="#">
                        <h3 class="brand m-0"><i class="fa-solid fa-laptop-file"> EA</i></h3>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav m-0 d-flex justify-content-between col-xl-6 col-lg-8">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Service</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Portfolio</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <!-- Hero -->
        <section id="hero">
            <div class="container text-light pb-4 h-100">
                <div class="row h-100">
                    <div class="col-md-6 col-lg-5 offset-lg-1 position-relative order-md-1 order-2">
                        <div class="position-absolute top-50 translate-middle-y p-md-2 p-lg-0">
                            <h5 class="fw-light">Hi, I am <span class="fw-bold">Ekky Armandi</span></h5>
                            <h2>a <span class="fw-bold brand">Python Developer</span></h2>
                            <h5 class="fw-light">I provide solution for python programming related task.</h5>
                            <button class="btn btn-brand mt-2 me-2" style="font-size: small"><i class="fa-regular fa-envelope me-2"></i>EMAIL ME</button>
                            <button class="btn btn-cv mt-2 me-2" style="font-size: small"><i class="fa-regular fa-file me-2"></i>DOWNLOAD CV</button>
                        </div>
                        <div class="hidden social-icon text-secondary position-absolute bottom-0">
                            <p class="fw-light mb-0">social networks</p>
                            <a class="text-secondary fs-4 me-2" href="#"><i class="fa-brands fa-github"></i></a>
                            <a class="text-secondary fs-4 me-2" href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            <a class="text-secondary fs-4 me-2" href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a class="text-secondary fs-4 me-2" href="#"><i class="fa-brands fa-youtube"></i></a>
                            <a class="text-secondary fs-4 me-2" href="#"><i class="fa-brands fa-linkedin"></i></a>
                            <div class="mt-3">
                                <p class="fw-light m-0">
                                    I'm also available on <a id="upwork-link" class="text-decoration-none" href="#"><span class="fw-normal" style="color: #14a800">Up</span><span class="text-light">Work</span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 d-flex justify-content-center justify-content-md-end h-100 order-1 order-md-2">
                        <img src="/static/images/ekky-armandi.jpg" alt="Potrait of me" />
                    </div>
                </div>
            </div>
        </section>

        <!-- About Me -->
        <section id="about" class="second-bg">
            <div class="container-fluid text-light text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="my-4 col-md-10 col-lg-6">
                            <h3><span><</span>About Me/<span>></span></h3>
                            <hr />
                            <p style="text-align: justify">
                                I am a <i>self-taught</i> programmer. I have been interested in developing programs since my first year at university (about <span id="starting-year" date="2016-07-01">6</span> years ago). My curiosity about
                                computer software led me to learn more about programming stuff. I have a Bachelor's Degree in Industrial Engineering (2019). I use my programming skill to develop a Genetic Algorithm for solving route
                                optimization problems and make it my <a href="https://journals.ums.ac.id/index.php/jiti/article/download/8744/5015" style="color: var(--accent-color)">undergraduate thesis</a>. I have learned about Matlab,
                                Python, and JavaScript so far. I also have been freelancing for the last <span id="init-year" date="2019-08-01">3</span> years, and I am looking forward to collaborating with you!
                            </p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Portfolio -->
        <section id="portfolio" class="py-4">
            <div class="container-fluid text-light text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-xl-6">
                            <h3><span><</span>Portfolio/<span>></span></h3>
                            <hr />
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6">
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-4">
                                        <img src="/static/images/portfolio/Screenshot_9.png" class="img-fluid rounded-start" alt="" />
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body text-dark text-start">
                                            <a href="#" class="text-decoration-none text-dark"><h5 class="card-title">Card title</h5></a>
                                            <p class="card-text mb-0">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                            <span class="badge bg-warning rounded-pill text-secondary fw-light mb-1"><i class="fa-solid fa-tag"></i> python</span>
                                            <p class="card-text fw-light">
                                                <a href="#" class="text-secondary text-decoration-none"> <i class="fa-solid fa-book"></i> Read</a>
                                                <a href="#" class="text-secondary text-decoration-none ps-3"> <i class="fa-solid fa-code"></i> Source Code</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Services -->
        <section id="service" class="second-bg py-4">
            <div class="container-fluid text-light text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6">
                            <h3><span><</span>Services/<span>></span></h3>
                            <hr />
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-center">
                        <div class="col-md-5 col-lg-3">
                            <div class="card p-1 pt-4 mb-3">
                                <img class="align-self-center" src="/static/images/programing.png" alt="" />
                                <div class="card-body text-start">
                                    <h5 class="my-0">Python Programming Related Project</h5>
                                    <span class="badge rounded-pill mb-2 fw-light">Intermediate</span>
                                    <p class="mt-1">Develop and provide python scripts as the end result</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-3">
                            <div class="card p-1 pt-4">
                                <img class="align-self-center" src="/static/images/monitor.png" alt="" />
                                <div class="card-body text-start">
                                    <h5 class="my-0">Data Scraping</h5>
                                    <span class="badge rounded-pill mb-2 fw-light">Expert</span>
                                    <p class="mt-1">Develop data scraping script, provide the scraper script include the scraped data (if needed)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-center">
                        <div class="col-md-5 col-lg-3">
                            <div class="card p-1 pt-4 mb-3">
                                <img class="align-self-center" src="/static/images/dashboard.png" alt="" />
                                <div class="card-body text-start">
                                    <h5 class="my-0">Data Visualization</h5>
                                    <span class="badge rounded-pill mb-2 fw-light">Beginner</span>
                                    <p class="mt-1">Dashboard design and data visualization using Dash, Plotly, and Streamlit</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-3">
                            <div class="card p-1 pt-4">
                                <img class="align-self-center" src="/static/images/hosting.png" alt="" />
                                <div class="card-body text-start">
                                    <h5 class="my-0">Web Application</h5>
                                    <span class="badge rounded-pill mb-2 fw-light">Beginner</span>
                                    <p class="mt-1">Develop Python Web Application using Django or Flask</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Client's Feedback -->
        <section id="feedback" class="py-4">
            <div class="container-fluid text-light text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <h3><span><</span>Client's Feedback/<span>></span></h3>
                            <hr />
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-lg-8">
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner d-flex align-items-center">
                                    <div class="carousel-item active">
                                        <div class="row justify-content-center">
                                            <div class="col-md-9 col-lg-9 text-start">
                                                <a class="text-decoration-none text-light" href="https://www.upwork.com/freelancers/ekkyarmandi" target="_blank">
                                                    <small>June 1, 2022</small>
                                                    <h5>Develop Instagram Scraper</h5>
                                                    <p class="fs-5">
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <span>(5.0)</span>
                                                    </p>
                                                    <p style="text-align: justify">
                                                        <i>"Ekky is great to work with, reliable, and very helpful. He is also very knowledgeable and creative in his approach. Will work with him again in the future."</i>
                                                        <figcaption class="blockquote-footer text-end">UpWork's Client</figcaption>
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Skills -->
        <section id="skills" class="second-bg py-4">
            <div class="container-fluid text-light text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <h3><span><</span>Tools & Skills/<span>></span></h3>
                            <hr />
                        </div>
                    </div>
                    <div class="pt-2 pb-1">
                        <div class="row">
                            <div class="col">
                                <h5>Development Tools</h5>
                            </div>
                        </div>
                        <div class="row mt-3 justify-content-center">
                            <div class="col-auto">
                                <img src="/static/images/icons/vs-code.png" alt="" />
                                <p>VS Code</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/vim.png" alt="" />
                                <p>Vi Improve</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/python.png" alt="" />
                                <p>Python3.9</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/insomnia.png" alt="" />
                                <p>Insomnia</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/adobe-photoshop.png" alt="" />
                                <p>Photoshop</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/adobe-illustrator.png" alt="" />
                                <p>Illustrator</p>
                            </div>
                        </div>
                    </div>
                    <div class="pt-2 pb-1">
                        <div class="row">
                            <div class="col">
                                <h5>Data Scraping</h5>
                            </div>
                        </div>
                        <div class="row mt-2 justify-content-center align-items-end">
                            <div class="col-auto">
                                <img src="/static/images/icons/scrapy.png" alt="" />
                                <p>Scrapy</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/selenium.png" alt="" />
                                <p>Selenium</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/beautifulsoup.png" alt="" />
                                <p>BeautifulSoup</p>
                            </div>
                        </div>
                    </div>
                    <div class="pt-2 pb-1">
                        <div class="row">
                            <div class="col">
                                <h5>Data Visualization</h5>
                            </div>
                        </div>
                        <div class="row mt-2 justify-content-center align-items-end">
                            <div class="col-auto">
                                <img src="/static/images/icons/pandas.png" alt="" />
                                <p>Pandas</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/matplotlib.png" alt="" />
                                <p>Matplotlib</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/seaborn.png" alt="" />
                                <p>Seaborn</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/dash.png" alt="" />
                                <p>Dash</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/plotly.png" alt="" />
                                <p>Plotly</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/streamlit.png" alt="" />
                                <p>Streamlit</p>
                            </div>
                        </div>
                    </div>
                    <div class="pt-2 pb-1">
                        <div class="row">
                            <div class="col">
                                <h5>Full-stack Web Development</h5>
                            </div>
                        </div>
                        <div class="row mt-2 justify-content-center align-items-end">
                            <div class="col-auto">
                                <img src="/static/images/icons/django.png" alt="" />
                                <p>Django</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/flask.png" alt="" />
                                <p>Flask</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/html.png" alt="" />
                                <p>HTML</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/css.png" alt="" />
                                <p>CSS</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/javscript.png" alt="" />
                                <p>JavaScript</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/bootstrap-5.png" alt="" />
                                <p>Bootstrap 5</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="text-center text-light fw-light my-2">Copyright &copy; Ekky Armandi (<span id="copyright-year">2022</span>)</footer>

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/reponsive.js"></script>
        <script src="/static/js/carousel.js"></script>
        <script src="/static/js/year.js"></script>
    </body>
</html>
