<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Web Portfolio</title>

        <!-- CSS Only, Fontawesome, & CDN fonts -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
        <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/adobe-clean" />

        <!-- My Style -->
        <!-- <link rel="stylesheet" href="static/css/style.css" /> -->
        <style>
            :root {
                --main-color: #191919;
                --secondary-color: #212121;
                --accent-color: #4e9f3d;
            }
            body {
                background-color: var(--main-color) !important;
            }
            .second-bg {
                background-color: var(--secondary-color);
            }
            a.brand {
                font-size: x-large;
            }
            .brand,
            .nav-link.active {
                color: var(--accent-color) !important;
            }
            .nav-link.active {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-trasnparent mt-4">
            <div class="container">
                <div class="row">
                    <div class="col-10"></div>
                </div>
                <a class="navbar-brand brand fw-bold" href="#"><<span>/</span>id<span class="px-1" style="background-color: var(--accent-color); color: var(--main-color)">EA</span><span>></span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link me-4 active" aria-current="page" href="#">Home</a>
                        <a class="nav-link me-4" href="#">About</a>
                        <a class="nav-link me-4" href="#">Service</a>
                        <a class="nav-link me-4" href="#">Portfolio</a>
                        <a class="nav-link me-4" href="#">Skills</a>
                        <a class="nav-link me-4 disabled">Contact</a>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Hero -->
        <section id="hero">
            <div class="container text-light mt-5">
                <div class="row">
                    <div class="col-6">
                        <h5 class="fw-light">Hi, my name is <span class="fw-bold">Ekky Armandi</span></h5>
                        <h2>I'm a <span class="fw-bold brand">Python Developer</span></h2>
                    </div>
                </div>
            </div>
        </section>

        <!-- About Me -->
        <section id="about" class="second-bg">
            <div class="container-fluid text-light text-center mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3>About Me</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Services -->
        <section id="about">
            <div class="container-fluid text-light text-center mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3>Services</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Portfolio -->
        <section id="about" class="second-bg">
            <div class="container-fluid text-light text-center mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3>Portfolio</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Client's Feedback -->
        <section id="about">
            <div class="container-fluid text-light text-center mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3>Client's Feedback</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Skills -->
        <section id="about" class="second-bg">
            <div class="container-fluid text-light text-center mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3>Tools & Skills</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
