<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Web Portfolio</title>

        <!-- CSS Only, Fontawesome, & CDN fonts -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" />

        <!-- My Style -->
        <!-- <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/adobe-clean" /> -->
        <!-- <link rel="stylesheet" href="static/css/style.css" /> -->
        <style>
            :root {
                --main-color: #191919;
                --secondary-color: #212121;
                --accent-color: #4e9f3d;
            }
            body {
                background-color: var(--main-color) !important;
                font-family: "Ubuntu", sans-serif;
            }
            .hidden {
                display: none;
            }
            .second-bg {
                background-color: var(--secondary-color);
            }
            #navbar a {
                text-decoration: none;
                color: gray;
            }
            #navbar a:hover {
                color: white;
            }
            #navbar a.active {
                font-weight: bold;
                color: var(--accent-color);
            }
            #navbar a.active:hover {
                text-decoration: underline;
            }
            .brand {
                color: var(--accent-color);
            }
            .brand span.negative {
                color: var(--main-color);
                background-color: var(--accent-color);
            }
            .btn-brand {
                color: white;
                background-color: var(--accent-color);
            }
            .btn-brand:hover {
                box-shadow: 0 0 5px rgba(78, 159, 61, 0.8);
                color: var(--accent-color);
            }
            .social-icon a:hover {
                color: white !important;
            }
            #service img {
                width: 140px;
            }
            #service .card {
                background-color: var(--main-color);
                height: 410px;
            }
            #service .badge {
                background-color: var(--accent-color);
                user-select: none;
            }
            #skills img {
                max-width: 80px;
                max-height: 80px;
            }
        </style>
    </head>
    <body>
        <!-- Navbar -->
        <section id="navbar">
            <div class="container text-light mt-4">
                <div class="row justify-content-center">
                    <div class="col-5 d-flex align-items-center">
                        <a href="#">
                            <h3 class="brand"><i class="fa-solid fa-laptop-file"> EA</i></h3>
                        </a>
                    </div>
                    <div class="col-5 d-flex justify-content-between align-items-center">
                        <a class="active" href="#">Home</a>
                        <a href="#">About</a>
                        <a href="#">Service</a>
                        <a href="#">Portfolio</a>
                        <a href="#">Contact</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Hero -->
        <section id="hero">
            <div class="container text-light my-5">
                <div class="row">
                    <div class="col-5 offset-1 position-relative">
                        <div class="position-absolute top-50 translate-middle-y">
                            <h5 class="fw-light">Hi, I am <span class="fw-bold">Ekky Armandi</span></h5>
                            <h2>a <span class="fw-bold brand">Python Developer</span></h2>
                            <h5 class="fw-light">I provide solution for python programming related task.</h5>
                            <button class="btn btn-brand mt-2 me-2" style="font-size: small"><i class="fa-regular fa-envelope me-2"></i>EMAIL ME</button>
                        </div>
                        <div class="social-icon text-secondary position-absolute bottom-0">
                            <p class="fw-light mb-0">social networks</p>
                            <a class="text-secondary fs-4 me-2" href="#"><i class="fa-brands fa-github"></i></a>
                            <a class="text-secondary fs-4 me-2" href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            <a class="text-secondary fs-4 me-2" href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a class="text-secondary fs-4 me-2" href="#"><i class="fa-brands fa-youtube"></i></a>
                            <a class="text-secondary fs-4 me-2" href="#"><i class="fa-brands fa-linkedin"></i></a>
                            <div class="mt-3">
                                <p class="fw-light">
                                    I also available on <a id="upwork-link" class="text-decoration-none" href="#"><span class="fw-normal" style="color: #14a800">Up</span><span class="text-light">Work</span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 d-flex justify-content-end">
                        <img src="/static/images/ekky-armandi.jpg" alt="Potrait of me" style="width: 400px" />
                    </div>
                </div>
            </div>
        </section>

        <!-- About Me -->
        <section id="about" class="second-bg">
            <div class="container-fluid text-light text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="my-5 col-5">
                            <h3><span><</span>About Me/<span>></span></h3>
                            <hr />
                            <p style="text-align: justify">
                                I am a <i>self-taught</i> programmer. I have been interested in developing programs since my first year at university (about <span id="starting-year">6</span> years ago). My curiosity about computer software
                                led me to learn more about programming. I have a Bachelor's Degree in Industrial Engineering (2019). I use my programming skill to develop a Genetic Algorithm for solving route optimization problems and make
                                it my <a href="https://journals.ums.ac.id/index.php/jiti/article/download/8744/5015" style="color: var(--accent-color)">undergraduate thesis</a>. I have learned about Matlab, Python, and JavaScript so far. I
                                also have been freelancing for the last 3 years, and I am looking forward to collaborating with you right now!
                            </p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Services -->
        <section id="service">
            <div class="container-fluid text-light text-center mt-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-5">
                            <h3><span><</span>Services/<span>></span></h3>
                            <hr />
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-center">
                        <div class="col-2">
                            <div class="card border-light p-2 pt-4">
                                <img class="align-self-center" src="/static/images/programing.png" alt="" />
                                <div class="card-body text-start">
                                    <h5 class="my-0">Python Programming Related Project</h5>
                                    <span class="badge rounded-pill mb-2 fw-light">Intermediate</span>
                                    <p class="mt-1">Develop and provide python scripts as the end result</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card border-light p-2 pt-4">
                                <img class="align-self-center" src="/static/images/monitor.png" alt="" />
                                <div class="card-body text-start">
                                    <h5 class="my-0">Data Scraping</h5>
                                    <span class="badge rounded-pill mb-2 fw-light">Expert</span>
                                    <p class="mt-1">Develop data scraping script, provide the scraper script and or the scraped data</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card border-light p-2 pt-4">
                                <img class="align-self-center" src="/static/images/dashboard.png" alt="" />
                                <div class="card-body text-start">
                                    <h5 class="my-0">Data Visualization</h5>
                                    <span class="badge rounded-pill mb-2 fw-light">Beginner</span>
                                    <p class="mt-1">Dashboard design and data visualization using Dash, Plotly, and Streamlit</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card border-light p-2 pt-4 position-relative">
                                <img class="align-self-center" src="/static/images/hosting.png" alt="" />
                                <div class="card-body text-start">
                                    <h5 class="my-0">Web Application</h5>
                                    <span class="badge rounded-pill mb-2 fw-light">Beginner</span>
                                    <p class="mt-1">Develop Python Web Application using Django or Flask</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Portfolio -->
        <section id="portfolio" class="second-bg py-5">
            <div class="container-fluid text-light text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-5">
                            <h3><span><</span>Portfolio/<span>></span></h3>
                            <hr />
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-4">
                                        <img src="/static/images/portfolio/Screenshot_9.png" class="img-fluid rounded-start" alt="" />
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body text-dark text-start">
                                            <a href="#" class="text-decoration-none text-dark"><h5 class="card-title">Card title</h5></a>
                                            <p class="card-text mb-0">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                            <span class="badge bg-warning rounded-pill text-secondary fw-light mb-1"><i class="fa-solid fa-tag"></i> python</span>
                                            <p class="card-text fw-light">
                                                <a href="#" class="text-secondary text-decoration-none"> <i class="fa-solid fa-book"></i> Read</a>
                                                <a href="#" class="text-secondary text-decoration-none ps-3"> <i class="fa-solid fa-code"></i> Source Code</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Client's Feedback -->
        <section id="feedback" class="py-5">
            <div class="container-fluid text-light text-center">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3><span><</span>Client's Feedback/<span>></span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Skills -->
        <section id="skills" class="second-bg py-5">
            <div class="container-fluid text-light text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-5">
                            <h3><span><</span>Tools & Skills/<span>></span></h3>
                            <hr />
                        </div>
                    </div>
                    <div class="pt-3 pb-1">
                        <div class="row">
                            <div class="col">
                                <h5>Development Tools</h5>
                            </div>
                        </div>
                        <div class="row mt-3 justify-content-center">
                            <div class="col-auto">
                                <img src="/static/images/icons/vs-code.png" alt="" />
                                <p>VS Code</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/vim.png" alt="" />
                                <p>Vi Improve</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/python.png" alt="" />
                                <p>Python3.9</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/insomnia.png" alt="" />
                                <p>Insomnia</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/adobe-photoshop.png" alt="" />
                                <p>Photoshop</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/adobe-illustrator.png" alt="" />
                                <p>Illustrator</p>
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 pb-1">
                        <div class="row">
                            <div class="col">
                                <h5>Data Scraping</h5>
                            </div>
                        </div>
                        <div class="row mt-2 justify-content-center align-items-end">
                            <div class="col-auto">
                                <img src="/static/images/icons/scrapy.png" alt="" />
                                <p>Scrapy</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/selenium.png" alt="" />
                                <p>Selenium</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/beautifulsoup.png" alt="" />
                                <p>BeautifulSoup</p>
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 pb-1">
                        <div class="row">
                            <div class="col">
                                <h5>Data Visualization</h5>
                            </div>
                        </div>
                        <div class="row mt-2 justify-content-center align-items-end">
                            <div class="col-auto">
                                <img src="/static/images/icons/pandas.png" alt="" />
                                <p>Pandas</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/matplotlib.png" alt="" />
                                <p>Matplotlib</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/seaborn.png" alt="" />
                                <p>Seaborn</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/dash.png" alt="" />
                                <p>Dash</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/plotly.png" alt="" />
                                <p>Plotly</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/streamlit.png" alt="" />
                                <p>Streamlit</p>
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 pb-1">
                        <div class="row">
                            <div class="col">
                                <h5>Full-stack Web Development</h5>
                            </div>
                        </div>
                        <div class="row mt-2 justify-content-center align-items-end">
                            <div class="col-auto">
                                <img src="/static/images/icons/django.png" alt="" />
                                <p>Django</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/flask.png" alt="" />
                                <p>Flask</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/html.png" alt="" />
                                <p>HTML</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/css.png" alt="" />
                                <p>CSS</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/javscript.png" alt="" />
                                <p>JavaScript</p>
                            </div>
                            <div class="col-auto">
                                <img src="/static/images/icons/bootstrap-5.png" alt="" />
                                <p>Bootstrap 5</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="text-center text-light my-4">Copyright &copy; Ekky Armandi (<span>2022</span>)</footer>

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
